<?xml version="1.0" ?>
<robot name="motoman_hc10dt" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find urdf_store)/urdf/hc10/hc10dt.urdf.xacro" />
  <xacro:motoman_hc10dt prefix="" />

  <link name="world" />
  
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyx="-0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  
  <tools default="mx35_x1">
    <xacro:include filename="$(find urdf_store)/urdf/hand/tool/pigrip25_x2.urdf.xacro" />
    <xacro:include filename="$(find urdf_store)/urdf/hand/tool/mx35_x1.urdf.xacro" />
    <xacro:include filename="$(find urdf_store)/urdf/hand/tool/pisoftgrip.urdf.xacro" />
  </tools>

</robot>
